CONTAINER_NAME="allinssl"          # 容器名称
PANEL_APP_PORT_HTTP="7979"        # 面板应用的 HTTP 端口
DATA_PATH="./data"                # 数据存储路径
ALLINSSL_USER="allinssl"          # AllinSSL 用户名
ALLINSSL_PWD="allinssldocker"    # AllinSSL 密码
ALLINSSL_URL="allinssl"          # AllinSSL 访问路径
ALLINSSL_TZ="Asia/Shanghai"      # 时区设置